.section {display: none;}
body {
    &[data-page="color"] {
        .section-color {display: inherit;}
        .menu-btn {
            &[id="color"] {
                background-color: $white;
                svg {
                    opacity: 1;
                }
            }
        }
    }
    
    &[data-page="pad"] {
        .section-pad {display: inherit;}
        .menu-btn {
            &[id="pad"] {
                background-color: $white;
                svg {
                    opacity: 1;
                }
            }
        }
    }
    
    &[data-page="image"] {
        .section-image {display: inherit;}
        .menu-btn {
            &[id="image"] {
                background-color: $white;
                svg {
                    opacity: 1;
                }
            }
        }
    }

    &[data-page="piano"] {
        .section-piano {display: inherit;}
        .menu-btn {
            &[id="piano"] {
                background-color: $white;
                svg {
                    opacity: 1;
                }
            }
        }
    }
}




// Animations du piano
.section-pad {
    .btn-save {
        pointer-events: none;
        opacity: 0;
        transition: $t-fast;
    }

    .btn-edit {
        transition: $t-fast;
    }

    .pad {
        &-btn {
            opacity: 1;
            transition: $t-fast;
            transition-property: opacity;
            &:active {
                opacity: .2;
                transition: $t-superfast;
            }
        }
    }
    .form {
        margin-bottom: calc(-100vh - 4rem);
        transition: $t-fast;
        &-el {
            opacity: 0;
            transition: $t-fast;
        }
    }

    .bg {
        transition: $t-fast;
        &-color {
            transition-property: opacity;
            transition: $t-fast;
        }
    }

    .bg-color-active {
        transform: scale(2);
        transition: $t-fast;
    }
    
    &.pad-modify {

        .pad {
            &-btn {
                opacity: .2!important;
                &-active {
                    opacity: 1!important;
                }
            }
        }

        .btn-edit {
            margin-top: -4rem;
            opacity: 0;
            pointer-events: none;
        }

        .btn-save {
            transition: $t-slow;
            opacity: 1;
            transition-delay: 0.2s;
            pointer-events: inherit;
        }

        .form {
            margin-bottom: 0;
            &-el {
                opacity: 1;
                transition-delay: 0.2s;
            }
        }
    }

    .pad-tuto {
        transform: translateY(-100%);
        opacity: 0;

        &.show-tuto {
            transition: 
            transform       0.001s,
            opacity     0.3s 0.001s;

            transform: translateY(0);
            opacity: 1;
        }
    }
}