body {
    &[data-page="color"] {
        .section-color {display: flex;}
        .menu-btn {
            &[id="color"] {
                background-color: $light-grey;
                svg {
                    opacity: 1;
                }
            }
            &[id="color"] {
                background-color: $white;
            }
        }
    }
    
    &[data-page="piano"] {
        .section-piano {display: flex;}
        .menu-btn {
            &[id="piano"] {
                background-color: $light-grey;
                svg {
                    opacity: 1;
                }
            }
            &[id="piano"] {
                background-color: $white;
            }
        }
    }

    &[data-page="image"] {
        .section-image {display: flex;}
        .menu-btn {
            &[id="image"] {
                background-color: $light-grey;
                svg {
                    opacity: 1;
                }
            }
            &[id="image"] {
                background-color: $white;
            }
        }
    }
}

.menu-btn {
    transition: $t-slow;
}