.menu-btn {
    svg {
        opacity: .5;
    }
}

.section-credits {
    z-index: $topOfAll!important;
    transition: $t-slow;
    pointer-events: none;
    clip-path: ellipse(0px 0px at 99% -5%);
    .section-header {
        transition: $t-fast;
        transition-delay: 0s;
        transform: translateY(-100%);
    }
}

.section {
    z-index: $background;

    display: none;

    &.active {
        display: flex;
        z-index: $content;
    }


    //&-color {clip-path: ellipse(0px 0px at $cp-color $cp-y);}
    //&-image {clip-path: ellipse(0px 0px at $cp-image $cp-y);}
    //&-pad {clip-path: ellipse(0px 0px at $cp-pad $cp-y);}
    //&-piano {clip-path: ellipse(0px 0px at $cp-piano $cp-y);}
    //&-info {clip-path: ellipse(0px 0px at $cp-info $cp-y);}
}

body {
    .menu-btn.active {
        box-shadow: $shadow;
        background-color: $white;
        svg {opacity: 1;}
        &:hover {
            svg {
                transform: scale(1);
            }
        }
    }

    &.show-credits {
        .section-credits {
            opacity: 1;
            pointer-events: inherit;
            clip-path: ellipse(2000px 2000px at 99% -5%);
            .section-header {
                transition-delay: 0.3s;
                transform: translateY(0%);
            }
        }
    }
}


.section-intro {
    h1 {
        transition: $t-slow;
        transform: scale(1);
        .h1-letter {
            animation: none;
            display: inline-block;
            text-shadow: 0 0 0;
            opacity: 0;
        }
    }

    &.play {

        pointer-events: none;

        .section-intro-svg {
            opacity: 0;
            transition: $t-fast;
            transform: scale(0.2);
        }
        
        h1 {
            .h1-letter {
                @for $i from 1 through 12 {
                    &:nth-child(#{$i}) {
                        animation: bounceIn 0.3s $i * 0.1s;
                        animation-timing-function: cubic-bezier(0.27, 1.53, 0.63, 2.12);
                    }
                }
                &.end {
                    animation: glow 0.3s;
                }   
            }
        }
    }

    &.hide {
        opacity: 0;
        animation: fadeOut 0.3s;
        h1 {
            transform: scale(1.2);
        }
    }
}

.section-piano {
    &-color {
        transition: $t-fast;
        transition-property: opacity, background-color;
        &-active {
            transition: $t-superfast;
        }
    }
    
    &-svg {
        transition: $t-fast;
    }
}


.section-pad {
    .btn {
        &-edit {
            opacity: 1;
            pointer-events: initial;   
            margin-bottom: -3.5rem;
        }
    
        &-save {
            opacity: 0;
            pointer-events: none;
        } 

        &-random {
            opacity: 1;
            &:hover {
                opacity: inherit;
            }

            &.hover {
                animation: spin 0.3s;
            }

            &.spin {
                animation: spinFull 0.45s;
            }
        }
    }

    .pad-editor {
        transition: $t-fast;
        opacity: 0;
        pointer-events: none;
    }
    
    .pad {
        &-btn {
            transition-property: transform;
            transition: $t-superfast;
            &:active {
                transform: scale(1.1);
                border-radius: $rounded;
                z-index: $content;
            }

            &:after {
                opacity: 1;
            }
        }

        &-tuto {
            transition: $t-superfast;
            transform: translateY(20px);
            opacity: 0;
            pointer-events: none;
        }
    }

    
    &.pad-modify {
        background-color: $black01;
        .pad {
            &-btn {
                position: relative;
                &-active {
                    z-index: $front;
                    transform: scale(1.1);
                    border-radius: $rounded;
                    opacity: 1!important;
                    &::after {
                        opacity: 0;
                        transition: $t-fast;
                    }
                }
                &::before {
                    opacity: .5;
                }
            }
            
            &-tuto {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &.edition {
            .pad-tuto {
                opacity: 0;
            }
            .pad-editor {
                pointer-events: inherit;
                opacity: 1;
                .editor-indicator {
                    transition: $t-fast;
                }
            }
        }

        .btn {
            &-edit {
                margin-top: 0rem;
                opacity: 0;
                pointer-events: none;
            } 
            
            &-save {
                margin-top: 0;
                opacity: 1;
                pointer-events: inherit;
            } 

            &-random {
                opacity: 0;
                pointer-events: none;
            }
        }

    }
}


// Bouton d'upload images
.selection {
    height: 3.5rem;
    width: 18rem;
    &-image {
        transition: $t-superfast;
        transform: translateY(20px);
        opacity: 0;

        &-el {
            transition: $t-superfast;
        }
    }
    
    .selection-btn-upload {
        transform: translateY(20px);
        opacity: 0;
        transition: $t-fast;
        transition-delay: 0s;
    }
}

.section-image {
    .section-module {

        // Chagement effectué, on masque l'image
        &.change {
            .section-module-image {
                &1 {
                    animation: fadeOut 0.2s;
                } 
                
                &2 {
                    animation: fadeOut 0.2s;
                }
            }
        }

        // L'image charge
        &.loading {
            .section-module-image1 {
                opacity: 0;
                animation: none;
            }
            .color-list {
                &::before {
                    @include loadingGradient;
                }

                &::after {
                    @include loadingGraph;
                }

                &-el {
                    background-color: transparent!important;
                }
            }

            .section-module-image {
                &::before {
                    @include absoluteTopLeft;
                    @include fullSize;
                    @include flex-center;

                    content: "Chargement de l'image...";
                    font-weight: 700;
                    color: $grey-text;
                    text-align: center;
                }
                
            }

        }

        // L'image est chargée, affiche le contenu
        &.changeDone {
            .section-module-image {
                &1 {
                    animation: bounceIn 0.2s;
                } 
                
                &2 {
                    animation: fadeIn 0.2s;
                }
            }
            .color-list-el {
                animation: fadeOut 0.2s;
            }
        }
        
        // Chagement du nombre de couleur à écouter
        .color-list.edition {
            .color-list-el {
                background-color: transparent!important;
            }

            &::before {
                @include loadingGraph;
            }

            &::after {
                @include loadingGradient;
            }
        }

        // Ouverture de la sélection d'images
        .selection.selection-open {
            overflow: visible;
            
            height: calc(29vw + 6rem);
            width: calc(100vw - 2rem);

            // transition en étapes - (1) width (2) height
            transition: 
            width      0.3s,
            height 0.3s 0.05s;
            
            
            .selection-image {
                transition: $t-fast;
                transition-delay: 0.1s;
                transform: translateY(0);
                opacity: 1;
                &-el {
                    box-sizing: border-box;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            &:hover {
                opacity: 1;
                cursor: inherit;
            }

            .selection-btn-upload {
                transform: translateY(0);
                transition-delay: 0.2s;
                opacity: 1;
            }
        }
    }

    .selection-image-el.selected img{
        border: 5px solid #fff;
    }
}

.navigation-container {
    transition: $t-fast;
    opacity: 1;

    .navigation {
        opacity: 0;
        transform: translateX(-100px);
        transition: $t-fast;
        &-list-el {
            transition: $t-fast;
            &.current {
                opacity: 1;
                font-weight: 700;
            }
        }
    }

    .nav-btn {
        transition: $t-fast;
    }
    
    &.open {
        margin: 1rem;
        margin-bottom: 2rem;
        width: calc(100% - 2rem);
        
        height: 12.5rem;
        padding-bottom: $h3;
        padding-top: $h3;
        
        .navigation {
            opacity: 1;
            transform: translateX(0);
            &-list-el {
                transition: $t-fast;
            }
        }
        
        .nav-btn {
            &-open {opacity: 0;}
            &-close {opacity: 1;}
        }
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

.btn {
    transition: $t-fast;
    &:active {
        transform: scale(0.8);
        opacity: .6;
        transition: $t-fast;
    }
}

.menu-btn {
    transition: $t-fast;
    & svg{
        transition: $t-fast;
    }
}

.played-color {
    &.hide {
        transition: $t-superslow;
        transition-property: opacity;
        opacity: 0;
    }
    &-el {
        will-change: background-color;
        transition: $t-superfast;
    }
}

@media(min-width: 900px) {
    .btn:hover {
        opacity: .6;
        transition: $t-fast;
    }

    .menu-btn {
        &:hover {
            opacity: 1;
            background-color: $white;
            box-shadow: $shadow;
            & svg {
                opacity: 1;
                transform: scale(1.2);
            }
        }
    }
}