.desktop {display: none;}

// Si le navigateur ne supporte pas la "backdrop filter", on remplace avec un fond plus opaque
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .btn, .navigation-container {
        backdrop-filter: blur(20px);
    }
}
  
/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .btn {
        background-color: $white09;
    }
}

@media(max-width: 340px) {
    .section-intro .text-block {
        padding: inherit;
    }
}

@media(min-width:480px) {
    .section-image .module .selection.selection-open {
        height: 15rem;
    }
}

@media(min-width: 900px) {

    *::-webkit-scrollbar {
        @include squareSize(5px);
    
        &-track {
            background: #f1f1f1; 
        }
        
        &-thumb {
            background: #888;
            border-radius: $round;
        }
        
        &-thumb:hover {
            background: #555; 
        }
    }

    body {
        position: relative;
        bottom: 0;
    }

    .desktop {display: inherit;}
    .mobile {display: none;}

    .section {

        
    &-color {clip-path: ellipse(0px 0px at $cpD-color $cp-y); &.active{clip-path: ellipse(2000px 2000px at $cpD-color $cp-y);}}
    &-image {clip-path: ellipse(0px 0px at $cpD-image $cp-y); &.active{clip-path: ellipse(2000px 2000px at $cpD-image $cp-y);}}
    &-pad {clip-path: ellipse(0px 0px at $cpD-pad $cp-y); &.active{clip-path: ellipse(2000px 2000px at $cpD-pad $cp-y);}}
    &-info {clip-path: ellipse(0px 0px at $cpD-info $cp-y); &.active{clip-path: ellipse(2000px 2000px at $cpD-info $cp-y);}}


        height: $section-height;
        align-items: center;
        
        &-module {
            width: 100%;
        }
    
        &-form {
            box-sizing: border-box;
            justify-content: flex-start;
            @include squareSize(100%);
            .form-slider {
                width: 500px;
            }
        }

        &-intro.hide h1 {
            transform: scale(2);
        }

        &-color {
            .section-module {
                &-frequency {
                    font-size: 165px;
                    line-height: 115px;
                    margin-bottom: inherit;
                }
            }
        }

        &-pad {
            &.pad-modify {
                .pad-container {
                    height: 50vh;
                }
            }
        }

        &-image {
            .section-module {  
                .color-list {
                    margin-bottom: inherit;
                    padding: 0.3rem;
                    border-radius: $round;
                    height: calc(5rem + 0.5rem);
                    width: calc((5rem + 0.5rem) * var(--colorNumber));

                    &-el {
                        @include squareSize(5rem);
                    }
                }

                .selection {
                    max-width: 730px;
                }

                &-image {
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    &2 {           
                        display: block;
                        
                        position: absolute;
                        object-fit: cover;
                        @include fullSize;
    
                        filter: blur(50px);
                        transform: scale(1.2) translateY(-10%);
    
                        background-size: cover;
                        background-position: center;
                    }

                    &1 {
                        top: 3rem;
                        width: 500px;
                        height: 30vh;
                        border-radius: $rounded;
        
                        object-fit: cover;
        
                        z-index: 10;
                    }
                }
            }

            .section-form {
                padding-top: 10vh;
            }
        }

        &-info {
            .container {
                padding: inherit;

                transform: translateX(50%);

                &-image {
                    margin: 0;
                    width: 100%;
                }
                
                &-code {
                    &-name {
                        white-space: nowrap;
                        text-align: left;
                        
                        margin: -4px 0;
                        margin-left: -3rem;
                        border-left: none;

                        padding-left: 4rem;
                        border-radius: 0 $rounded $rounded 0;
                    }
    
                    & .gist {
                        position: absolute;
                        margin-top: calc(-3.5rem - 1px);
                        max-width: 500px;
                        margin-left: calc(-500px - 1rem);
                        
                        &-file {
                            box-shadow: -10px 25px 50px -10px rgba(0, 0, 0, 0.301);
                            border-radius: $rounded 0 $rounded $rounded!important;
                        }
                    }

                    &-1 .gist:after, &-1 .gist:before {
                        width: 150%;
                        height: 150%;
                        top: -50%;
                        left: -50%;
                    }

                    &-2 .gist:after, &-2 .gist:before {
                        width: 130%;
                        height: 120%;
                        top: -10%;
                        left: -30%;
                    }

                    &-3 .gist:after, &-3 .gist:before {
                        width: 200%;
                        height: 200%;
                        top: -50%;
                        left: -100%;
                    }

                }
            }

            .navigation-container {
                position: sticky;
                top: calc(#{$h1} + #{$h3});
                right: calc(50% + 2rem);
                
                width: 285px;
                height: auto;
                overflow: visible;
                padding: 2rem 3rem;
                padding-left: 2rem;
                box-shadow: none;
                text-align: right;
                border-radius: inherit;
                border-right: 2px solid $black02;
                border-radius: $rounded 0 0 $rounded;
                background-color: $white08;

                .navigation {
                    @include squareSize(auto);
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }

// Menu
    .menu {
        justify-content: center;
        height: 10vh;
        &-li {
            min-width: 150px;
            width: 9vw;
            &-info {
                margin-left: 2rem;
            }

        
            &:first-child .menu-btn{border-radius: $rounded 0 0 0;}
            &:nth-child(4) .menu-btn{border-radius: 0 $rounded 0 0;}

            &-info {
                box-shadow: none;
                .menu-btn{border-radius: $rounded $rounded 0 0;}
            }
        }       
    }
}

@media(max-height: 750px) {
    .section-piano.piano-modify {
        .piano {
            grid-template-rows: repeat(3, 60px);
            &-btn {
                width: 100%;
            }
        }
    }

    .section-module-image1 {
        min-height: 100%;
    }
}