.use-svg, #uploadInput {display: none;}

.main {
    display: flex;
}

.fs-center {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $menu-height;

    display: flex;
    &-btn{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 1rem;

        background-color: $light-grey;
        color: $grey;
        & svg {
            opacity: .5;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.btn {
    cursor: pointer;
    background-color: $lightBtn;
    padding: 1rem;
    border-radius: $round;
    font-weight: 700;
    font-size: 20px;
    box-shadow: $shadow;
    transition: $t-fast;
    
    &:active {
        opacity: .6;
        transition: $t-fast;
    }

    &-big {
        font-size: 20px;
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .btn {
        backdrop-filter: blur(20px);
    }
}
  
/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .btn {
        background-color: $white09;
    }
}

@media(min-width: 900px) {
    .btn:hover {
        opacity: .6;
        transition: $t-fast;
    }
}

.section-intro {
    background-color: $white;
    cursor: pointer;
}

.section {
    overflow: hidden;
    position: relative;

    flex-direction: column;
    justify-content: flex-end;

    min-width: 100%;
    height: calc(100vh - #{$menu-height});

    .container-tolisten {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
                
        height: 100%;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        padding: 2rem;

        background-color: #fff;

        &-el {
            margin: 0.5rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                margin-left: 3px;
                margin-bottom: 0.5rem;
            }

        }

        .btn {
            text-align: center;
            margin: 1rem 0;
        }
    }

    &-color {
        .container-tolisten {  
            &-frequency {
                position: relative;
                z-index: 50;
                margin-bottom: -10.5vw;
                font-size: 25vw;
                font-weight: 800;
                letter-spacing: -0.3rem;
                color: $white;
                pointer-events: none;
            }

            &-shadow {
                position: absolute;
                display: block;
                width: 100%;
                height: 20%;
    
                background: linear-gradient(to top, #00000033, #00000000);
            }
        }
    }

    &-image {
        .container-tolisten {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            height: 100%;
    
            box-sizing: border-box;
            .color-list {
                position: absolute;
                z-index: 1000;
                bottom: -10vw;
                display: flex;
    
                padding: 0.5rem;
                margin: 0;
                box-shadow: $shadow;
    
                background-color: $white;
                border-radius: $round;
                &-el {
                    width: 15vw;
                    height: 15vw;
                    margin: 0.3rem;
    
                    border-radius: $round;
                }
            }
            
            .background-container {
                display: none;
            }

            .img {
                position: absolute;
                width: 100%;
                height: 100%;

                object-fit: cover;

                z-index: 10;
            }
            
            .selection {
                overflow: hidden;
                
                margin-top: 2rem;
                z-index: 20;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 2rem;

                height: 3.75rem;
                width: 19rem;
                max-width: 450px;
                & span {
                    margin-bottom: 1rem;
                }

                &-image {

                    display: flex;
                    width: 100%;

                    &-el {
                        margin-right: 1rem;

                        max-width: 130px;
                        
                        height: 25vw;
                        max-height: 130px;
                        
                        &:nth-child(3) {margin-right: 0;}

                        & img{
                            width: 100%;
                            height: 100%;
                            
                            box-sizing: border-box;
                            object-fit: cover;
                            object-position: center;
                            
                            border: 0px solid #fff;
                            border-radius: $rounded;
                        }
                    } 
                }

                .btn-upload {
                    position: relative;
                    display: block;
                    background-color: #ffffffc5;
                    margin-top: 2rem;
                }
            }
        }
    }


    &-pad {
        justify-content: flex-start!important;

        &.show-tuto {
            .pad-tuto {
                opacity: 1;
                transition: $t-slow;
            }
        }

        .pad-tuto {
            
            transition: $t-fast;
            top: 0;
            z-index: 200;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: $black02;
            
            
            .tuto-container {
                display: flex;
                flex-direction: column;

                max-width: 500px;
                padding: 2rem;
                padding-bottom: 0;
                margin: 1rem;
                border-radius: $rounded;
                
                background-color: $white;
                box-shadow: $light-shadow;
                & .btn {
                    align-self: center;
                    margin-top: 1.5rem;
                    margin-bottom: -1.75rem;
                }
            }
        }

        .container-tolisten {
            position: absolute;
            z-index: -100;
            top: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            .bg {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                
                width: 350px;
                height: 350px;
                filter: blur(50px);
                &-color {
                    border-radius: $rounded;
                }
            }
        }

        .pad-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .pad {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: repeat(3, 100px);

            max-width: 100vw;
            
            justify-content: center;
            
            box-sizing: content-box;
            margin: 1rem auto;
            border-radius: $rounded;
            box-shadow: $shadow;
            background-color: $white;

            box-sizing: border-box;
            &-btn {
                cursor: pointer;

                width: 100%;
                height: 100%;

                &[id="btn-1"]{border-radius: $rounded 0 0 0;}
                &[id="btn-3"]{border-radius: 0 $rounded 0 0;}
                &[id="btn-7"]{border-radius: 0 0 0 $rounded;}
                &[id="btn-9"]{border-radius: 0 0 $rounded 0;}

                &::after {
                    position: relative;
                    z-index: 10;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    z-index: -10;
                    filter: blur(30px);

                    pointer-events: none;
                }

                &[id="btn-1"]::after {background-color: var(--pad-btn-color-1);}
                &[id="btn-2"]::after {background-color: var(--pad-btn-color-2);}
                &[id="btn-3"]::after {background-color: var(--pad-btn-color-3);}
                &[id="btn-4"]::after {background-color: var(--pad-btn-color-4);}
                &[id="btn-5"]::after {background-color: var(--pad-btn-color-5);}
                &[id="btn-6"]::after {background-color: var(--pad-btn-color-6);}
                &[id="btn-7"]::after {background-color: var(--pad-btn-color-7);}
                &[id="btn-8"]::after {background-color: var(--pad-btn-color-8);}
                &[id="btn-9"]::after {background-color: var(--pad-btn-color-9);}
            }
        }

        .form {
            z-index: 100;
            background: $white;
            margin-top: 1rem;
            padding-top: 2rem;
        }

        .btn-edit {
            margin-top: 1rem;
        }

        .btn-save {
            align-self: flex-end;
            margin-top: -4rem!important;
            margin-bottom: 0.5rem!important;
        }
    }

    &-piano {
        height: 100vh;
        justify-content: center;
        align-items: center;
        .piano-color {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $round;
            transform: translateY(50%);
            filter: blur(200px);

            transition: $t-fast;
            &-active {
                transition: $t-superfast;
            }
        }
    }
}







// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
/* Css 100% responsiv des input range */
input[type=range]{
    &::-webkit{
        &-slider-runnable-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-radius: $round;
        }

        &-slider-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            background: $input-thumb-color;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: 0px;
            border-radius: $round;
        }
    }


    &::-moz {
        &-range-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-radius: $round;
        }

        &-range-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            background: $input-thumb-color;
            cursor: pointer;
            border-radius: $round;
            box-sizing: border-box;
        }
    }

    &::-ms{
        &-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }

        &-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            border-radius: 3px;
            background: $input-thumb-color;
            cursor: pointer;
            border-radius: $round;
        }
    }

    &:focus::-ms-fill{
        &-lower {
            background: transparent;
        }
        &-upper {
            background: transparent;
        }
    }
}



