.use-svg, #uploadInput {display: none;}

*::selection {
    background: rgba(154, 223, 255, 0.5)!important;
    color: inherit!important;
}

// ScrollBar - chrome
@media(min-width: 900px) {
    *::-webkit-scrollbar {
        @include squareSize(5px);
    
        &-track {
            background: #f1f1f1; 
        }
        
        &-thumb {
            background: #888;
            border-radius: $round;
        }
        
        &-thumb:hover {
            background: #555; 
        }
    }
}

.gist {
    &-file {
        border-radius: $rounded!important;
        overflow: hidden!important;
        margin: 0!important;
        border: none!important;
        background: $gist-background!important;
    }

    &-data, &-meta {
        background: $gist-background!important;
        border: none!important;
        border-radius: 0!important;
    }

    .highlight {
        background: linear-gradient($gist-background 50%, darken($gist-background, 1.5%) 100%)!important;
    }
    .blob-num {
        color: $gist-blob-num!important;
        border-right: 1px solid $white01!important;
        &:hover {color: $gist-blob-num-hover!important;}
    }

    .pl-v {color: $gist-existingFunction!important;}
    .pl-kos {color: $gist-specialChars!important;}
    .pl-c {color: $gist-commentary!important;}
    .pl-s1 {color: $gist-variables!important;}
    .pl-c1 {color: $gist-number!important;}
    .pl-en {color: $gist-function!important;}
    .pl-k {color: $gist-functionDeclaration!important;}

    // ScrollBar des gists - plus sombre
    .blob-wrapper {        
        &::-webkit-scrollbar {
            &-track {
                background: $gist-background; 
            }
            
            &-thumb {
                background: lighten($gist-background, 10%); 
            }
            
            &-thumb:hover {
                background: lighten($gist-background, 20%); 
            }
        }
    }
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.played {
    @include fullSize;
    @include absoluteTopLeft;

    z-index: -50;
    overflow: hidden;
    &-color {
        position: absolute;
        bottom: -20%;

        width: 50vw;
        height: 25vh;

        border-radius: $round;
        background-color: var(--played-color);

        filter: blur(125px);

        &-1 {
            transform: rotate(20deg);
            left: -15%; 
        }

        &-2 {
            transform: rotate(-20deg);
            right: -15%;
        }
    }

    &::after {
        @include fullSize;
        @include absoluteTopLeft;
        @include graphBackground;

        content: "";
        z-index: 0;
    }
}

// Boutons
.btn {
    cursor: pointer;
    color: $grey;
    background-color: $white08;
    padding: 1rem;
    border-radius: $round;
    font-weight: 700;
    font-size: 20px;
    box-shadow: $shadow;
    text-decoration: none;

    &-bottom {
        display: block;
        margin: 0 auto -1.5rem auto;
    }
}

// Si le navigateur ne supporte pas la "backdrop filter", on remplace avec un fond plus opaque
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .btn, .navigation-container {
        backdrop-filter: blur(20px);
    }
}
  
/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .btn {
        background-color: $white09;
    }
}

// Menu
.menu {
    position: fixed;
    z-index: 200;
    bottom: 0;
    width: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    svg {
        @include squareSize(1.5rem);
    }
    
    &-list {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: $menu-height;
        
        &-el {
            width: 100%;
            background-color: $light-grey;
        }
    }
    
    &-btn {
        @include flex-center;
        @include fullSize;
        cursor: pointer;

        padding: 1.25rem 0.5rem;

        box-shadow: none;

        &-info {
            width: auto;
            height: auto;
            background-color: $light-grey;
            border-radius: $rounded 0 0 0;
            padding: 0.75rem 2rem;
            box-shadow: $shadow;
    
            & svg {
                @include squareSize(3.5rem);
            }
        }
    }

}

.section-intro {
    @include fs-center;
    @include fullSize;
    z-index: 2000;
    background-color: $white;
    cursor: pointer;
    &-msg {
        font-size: $h4;
    }
}

.section {
    overflow: hidden;
    position: relative;

    @include flex-column;
    justify-content: flex-end;

    min-width: 100%;

    // Taille de l'écran moins le footer + le header.
    height: calc(#{$section-height} - #{$menu-height});
    margin-top: $header-height;

    &-header {
        position: fixed;
        top: 0;
        z-index: 500;

        @include flex-center;
        box-shadow: 0px 20px 50px 0px #00000013;;

        width: 100%;
        height: $header-height;
        background-color: $white;
        
        &-title {
            margin: 0;
            font-size: 14px;
        }
    }

    .module {
        @include flex-center-y;
        align-items: flex-end;
        height: 100%;
        &::after {
            @include pseudoGraphBackground;
            opacity: .025;
        }
    }

    .form {
        @include flex-column-center;
        padding: 2rem;

        &-el {
            @include flex-column;

            margin: 0.5rem 0;
            width: 100%;

            label {
                margin-left: 3px;
                margin-bottom: 0.5rem;
            }

        }

        .btn {
            text-align: center;
            margin: 1rem 0;
        }
    }



    &-color {
        .module {
            &-frequency {
                position: relative;
                z-index: 50;
                margin-bottom: -10.5vw;
                font-size: 25vw;
                font-weight: 800;
                letter-spacing: -0.3rem;
                color: $white;
                pointer-events: none;
            }

            &-shadow {
                position: absolute;
                display: block;
                width: 100%;
                height: 20%;
    
                background: linear-gradient(to top, #00000033, #00000000);
            }
        }
    }

    &-image {
        .module {
            position: relative;

            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            height: 100%;
            
            .color-list {
                @include flex-center-y;

                z-index: 1000;
                flex-wrap: wrap;

                max-width: calc(100% - 3rem);
                padding: 0.2rem;
                transform: translateY(50%);
                text-align: center;

                border-radius: 9vw;
                background-color: $white;
                box-shadow: $shadow;
    
                &-el {
                    @include squareSize(14.5vw);

                    border-radius: $round;
                    max-width: 60px;
                    max-height: 60px;
                    margin: 0.25rem;
                }
            }
            
            .background-container {
                display: none;
            }
            

            .img {
                @include fullSize;
        
                position: absolute;
                object-fit: cover;
                object-position: center;
                z-index: -20;
            }
            
            .selection {
                @include flex-column-center-y;

                overflow: hidden;
                z-index: 20;
                
                margin-top: 1.5rem;
                box-sizing: border-box;
                border-radius: $rounded2;

                height: 3.5rem;
                width: 17rem;
                max-width: 450px;

                &-btn {
                    margin-bottom: 1rem;
                }

                &-image {
                    display: flex;
                    width: 100%;

                    &-el {
                        margin-right: 1rem;

                        max-width: 130px;
                        
                        height: 25vw;
                        max-height: 130px;
                        
                        &:nth-child(3) {margin-right: 0;}

                        & img{
                            @include fullSize;
                            
                            box-sizing: border-box;
                            object-fit: cover;
                            object-position: center;
                            
                            border: 0px solid #fff;
                            border-radius: $rounded;
                        }
                    } 
                }
            }
        }

        .form {
            padding-top: 5rem;
        }
    }


    &-pad {
        justify-content: flex-start!important;

        .pad-tuto {
            @include fs-center;
            top: 0;
            z-index: 200;

            background-color: $black02;
            
            .tuto-container {
                align-self: flex-start;

                text-align: center;

                max-width: 500px;
                padding: 2rem;
                padding-bottom: 0;
                border-radius: 0 0 $rounded2 $rounded2;
                
                background-color: $white;
                box-shadow: $light-shadow;
                & .btn {
                    align-self: center;
                }
            }
        }

        &.show-tuto {
            .pad-tuto {
                opacity: 1;
                transition: $t-slow;
            }
        }

        .module {
            @include fullSize;
            @include absoluteTopLeft;

            z-index: -100;
            align-items: center;
        }

        .pad-container {
            @include flex-column-center;
            height: 100%;
        }

        .pad {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: repeat(3, 100px);
            justify-content: center;

            max-width: 100vw;
            
            box-sizing: content-box;
            margin: 1rem auto;
            border-radius: $rounded;
            box-shadow: $shadow;

            box-sizing: border-box;
            &-btn {
                @include fullSize;

                cursor: pointer;

                // Arrondis les coins à chaque touches, overflow: hidden inutilisable étant donné qu'il cacherai les box shadows des boutons
                &[id="btn-1"]{border-radius: $rounded 0 0 0;}
                &[id="btn-3"]{border-radius: 0 $rounded 0 0;}
                &[id="btn-7"]{border-radius: 0 0 0 $rounded;}
                &[id="btn-9"]{border-radius: 0 0 $rounded 0;}

                // Effet lumineux des touches
                &::after {
                    @include fullSize;

                    position: relative;
                    z-index: 10;
                    content: "";
                    display: block;
                    z-index: -10;
                    filter: blur(30px);

                    pointer-events: none;
                }

                &[id="btn-1"]::after {background-color: var(--pad-btn-color-1);}
                &[id="btn-2"]::after {background-color: var(--pad-btn-color-2);}
                &[id="btn-3"]::after {background-color: var(--pad-btn-color-3);}
                &[id="btn-4"]::after {background-color: var(--pad-btn-color-4);}
                &[id="btn-5"]::after {background-color: var(--pad-btn-color-5);}
                &[id="btn-6"]::after {background-color: var(--pad-btn-color-6);}
                &[id="btn-7"]::after {background-color: var(--pad-btn-color-7);}
                &[id="btn-8"]::after {background-color: var(--pad-btn-color-8);}
                &[id="btn-9"]::after {background-color: var(--pad-btn-color-9);}
            }
        }

        .form {
            margin-top: 1rem;
            padding-top: 2rem;
        }

        .btn-edit {
            margin-top: 1rem;
        }

        .btn-save {
            align-self: flex-end;
            margin-top: -4rem!important;
            margin-bottom: 0.5rem!important;
        }
    }

    &-piano {
        @include flex-center;
        height: 100vh;

        .piano-color {
            width: 75%;
            height: 75%;

            position: absolute;
            z-index: -50;
            bottom: -5%;
            border-radius: $round;
            transform: translateY(50%);
            filter: blur(200px);

            transition: $t-fast;

            &-msg {
                position: relative;
            }
            &-active {
                transition: $t-superfast;
            }
        }
        &::after {
            @include pseudoGraphBackground;
            @include fs-center;
            z-index: -5;
        }
    }

    &-info {
        @include flex-column-center-y;
        position: relative;
        overflow-y: scroll;

        .container {
            // Rajoute de l'espacement en haut et en bas pour aérer, utiliser des margin/ padding casse le "overflow: scroll", il faut utiliser des éléments.
            &:before {content: ""; display: block; height: $h3;}
            &:after {content: ""; display: block; height: $h1;}
            

            @include fullSize;

            max-width: 500px;

            padding: 0 2rem;
            box-sizing: border-box;

            &-image {
                width: calc(100% + 2rem);
                margin: 0 -1rem;
            }

            &-code {
                width: calc(100% + 2rem);
                margin: 0 -1rem;
                &-name {
                    font-weight: 700;
                    text-align: center;
                    color: $gist-background;
                    background-color: $white;

                    padding: 1rem;
                    margin: 0;
                    box-sizing: border-box;
                    border-radius: $rounded $rounded 0 0;
                    border: 2px solid $gist-background;
                }

                .gist {
                    position: relative;
                    box-sizing: border-box;
                    &-file {
                        border-radius: 0 0 $rounded $rounded!important;
                    }
                    
                    &:after {
                        @include gistGraph;
                        z-index: -1000;
                        
                        background: radial-gradient($gist-background 20%, lighten($gist-background, 100%) 70%);
                    }

                    &::before {
                        @include gistGraph;

                        z-index: -5;
                    }
                }
            }
        }

        .navigation-container {
            z-index: 20;
            overflow: hidden;

            position: fixed;
            right: 0;
            bottom: calc(#{$menu-height} + 1rem);

            @include squareSize(4rem);
            
            margin: 2rem;
            border-radius: $rounded2;
            box-shadow: $shadow;
            background-color: $white;
            
            text-align: center;
            
            .nav-btn {
                position: absolute;
                
                @include squareSize(30px);

                svg {@include fullSize; transform: scale(2);}

                &-open {
                    z-index: 10;
                    opacity: 1;
                    right: 1rem; bottom: 1rem;
                }
                &-close {
                    z-index: 5;
                    opacity: 0;
                    transform: scale(1.2);
                    left: 1.5rem; top: 1.5rem;
                }
            }
            
            .navigation {
                box-sizing: content-box;
                min-height: 150px;
                
                &-title {
                    margin-top: 0;
                }
                
                &-list {
                    line-height: calc(#{$line-height} * 1.5);
                    &-el {
                        font-weight: 400;
                        text-decoration: none;
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
            } 
        }
    }
}






// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
/* Css 100% responsiv des input range */
input[type=range]{
    &::-webkit{
        &-slider-runnable-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-radius: $round;
        }

        &-slider-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            background: $input-thumb-color;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: 0px;
            border-radius: $round;
        }
    }


    &::-moz {
        &-range-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-radius: $round;
        }

        &-range-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            background: $input-thumb-color;
            cursor: pointer;
            border-radius: $round;
            box-sizing: border-box;
        }
    }

    &::-ms{
        &-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }

        &-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            border-radius: 3px;
            background: $input-thumb-color;
            cursor: pointer;
            border-radius: $round;
        }
    }

    &:focus::-ms-fill{
        &-lower {
            background: transparent;
        }
        &-upper {
            background: transparent;
        }
    }
}