.use-svg, #uploadInput {display: none;}

.section-intro {
    background-color: $white;
    text-align: center;
    cursor: pointer;
}

.section {
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-width: 100%;
    height: calc(100vh - 4rem);
    
    .container-tolisten {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
                
        height: 100%;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        padding: 2rem;

        background-color: #fff;

        &-el {
            margin: 0.5rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 0.5rem;
            }

        }

        .btn {
            text-align: center;
            margin: 1rem 0;
        }
    }

    &-color {
        .container-tolisten {  
            &-frequency {
                position: relative;
                z-index: 50;
                margin-bottom: -10.5vw;
                font-size: 25vw;
                font-weight: 800;
                letter-spacing: -0.3rem;
                color: $white;
                pointer-events: none;
            }

            &-shadow {
                position: absolute;
                display: block;
                width: 100%;
                height: 20%;
    
                background: linear-gradient(to top, #00000033, #00000000);
            }
        }
    }

    &-image {
        .container-tolisten {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
    
            box-sizing: border-box;
            .color-list {
                position: absolute;
                z-index: 1000;
                bottom: -10vw;
                display: flex;
    
                padding: 0.5rem;
                margin: 0;
                box-shadow: $shadow;
    
                background-color: $white;
                border-radius: $round;
                &-el {
                    width: 15vw;
                    height: 15vw;
                    margin: 0.3rem;
    
                    border-radius: $round;
                }
            }
            
            .background-container {
                display: none;
            }

            .img {
                position: absolute;
                width: 100%;
                height: 100%;

                object-fit: cover;

                z-index: 10;
            }
    
            .btn {
                margin-top: 2rem;
                z-index: 20;
            }
        }
    }


    &-pad {
        justify-content: flex-start;

        &.show-tuto {
            .pad-tuto {
                opacity: 1;
                transition: $t-slow;
            }
        }

        .pad-tuto {
            
            transition: $t-fast;
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 200;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: $black02;
            
            
            .tuto-container {
                display: flex;
                flex-direction: column;

                max-width: 500px;
                padding: 2rem;
                padding-bottom: 0;
                margin: 1rem;
                border-radius: $rounded;
                
                background-color: $white;
                box-shadow: $light-shadow;
                & .btn {
                    align-self: center;
                    margin-top: 1.5rem;
                    margin-bottom: -1.75rem;
                }
            }
        }

        .container-tolisten {
            position: absolute;
            z-index: -100;
            top: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            .bg {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                
                width: 350px;
                height: 350px;
                filter: blur(50px);
                &-color {
                    border-radius: $rounded;
                }
            }
        }

        .pad-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .pad {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: repeat(3, 100px);

            max-width: 100vw;
            
            justify-content: center;
            
            box-sizing: content-box;
            margin: 1rem auto;
            border-radius: $rounded;
            box-shadow: $shadow;
            background-color: $white;

            overflow: hidden;

            box-sizing: border-box;
            &-btn {
                cursor: pointer;

                width: 100%;
                height: 100%;
            }
        }

        .form {
            margin-top: 1rem;
            padding-top: 2rem;
        }

        .btn-edit {
            margin-top: 1rem;
        }

        .btn-save {
            align-self: flex-end;
            margin-top: -4rem!important;
            margin-bottom: 0!important;
        }
    }

    &-piano {
        height: 100vh;
        justify-content: center;
        align-items: center;
        .piano-color {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $round;
            transform: translateY(50%);
            filter: blur(200px);

            transition: $t-fast;
            &-active {
                transition: $t-superfast;
            }
        }
    }
}







// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
/* Css 100% responsiv des input range */
input[type=range]{
    &::-webkit{
        &-slider-runnable-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-radius: $round;
        }

        &-slider-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            background: $input-thumb-color;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: 0px;
            border-radius: $round;
        }
    }


    &::-moz {
        &-range-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-radius: $round;
        }

        &-range-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            background: $input-thumb-color;
            cursor: pointer;
            border-radius: $round;
            box-sizing: border-box;
        }
    }

    &::-ms{
        &-track {
            width: $input-width;
            height: $input-thumb-size;
            cursor: pointer;
            background: $input-track;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }

        &-thumb {
            border: $input-thumb-border;
            height: $input-thumb-size;
            width: $input-thumb-size;
            border-radius: 3px;
            background: $input-thumb-color;
            cursor: pointer;
            border-radius: $round;
        }
    }

    &:focus::-ms-fill{
        &-lower {
            background: transparent;
        }
        &-upper {
            background: transparent;
        }
    }
}



