// Flex rows
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-x {
    display: flex;
    align-items: center;
}

@mixin flex-center-y {
    display: flex;
    justify-content: center;
}

// Flex columns
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-column-center-x {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column-center-y {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@mixin fullSize {
    width: 100%;
    height: 100%;
}

@mixin squareSize($value) {
    width: $value;
    height: $value;
}

@mixin gistGraph {
    position: absolute;
    content: "";
    left: calc(-1rem - 25vw);
    top: -15%;
    width: 150vw;
    height: 120%;

    background-size: $graphSize;
    background-repeat: repeat;
    background-image: url('../assets/bgSvg.svg');
}

@mixin pseudoElement {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

@mixin graphBackground {
    background-size: $graphSize;
    background-repeat: repeat;
    background-image: url('../assets/bgSvg.svg');
}

@mixin pseudoGraphBackground {
    @include fullSize;
    @include pseudoElement;
    @include graphBackground;
}

@mixin fs-center {
    @include flex-center;
    position: absolute;
    width: 100%;
    height: $section-height;
}

@mixin absoluteTopLeft {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin card($radius) {
    padding: 2rem;
    border-radius: $radius;
    background-color: $white;
    max-width: 500px;
}

@mixin loadingGradient {
    @include pseudoElement;
    @include fullSize;

    background-color: transparent;
    z-index: $content;
    transform: scale(0.99);
    background: linear-gradient(to right, $white, lighten($gist-background, 75%), $white);
    animation: loading 1s;
    animation-iteration-count: infinite;
}

@mixin loadingGraph {
    @include pseudoGraphBackground;
    z-index: $front;
}

@mixin activePage {
    opacity: 1;
    transition: $t-slow;
    z-index: $content;
}

@mixin hidenPage {
    opacity: 0;
    z-index: $background;
}