$white: #fff;
$white09: #ffffffda;
$black02: #00000056;
$black: #000000;

$light-grey: #eeeeee;
$medium-grey: #d4d4d4;
$grey: #353535;
$grey-text: #6b6b6b;

$lightBtn: #ffffff88;
$darkBtn: #0000002f;

$t-slider: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
$t-slow: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
$t-fast: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
$t-superfast: all 0.1s cubic-bezier(0.33, 1, 0.68, 1);
$t-tfast: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
$t-tslow: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);


// INPUT RANGE
$input-track: #ebebeb;
$input-thumb-size: 1.3rem;
$input-thumb-border: none;
$input-thumb-color: #8b8b8b;
$input-width: 102%;

// border-radius
$round: 1000px;
$rounded: 10px;

// shadows
$shadow: 0px 0px 25px -10px #00000038;  
$light-shadow: 0px 0px 25px -15px #00000038;

// layout
$menu-height: 4rem;