$white: #fff;
$white01: #ffffff09;
$white05: #ffffff79;
$white08: #ffffffbe;
$white09: #ffffffda;
$black01: #0000001f;
$black02: #00000056;
$black: #000000;

$valid: #73b647;

$light-grey: #eeeeee;
$medium-grey: #d4d4d4;
$grey: #353535;
$grey-text: #6b6b6b;

$gradient360: linear-gradient(to right, #FF0000, #FFF500, #00FF29, #00F0FF, #0500FF, #FF00E5, #FF0000);

$lightBtn: #ffffff88;
$darkBtn: #0000002f;

// Gist - colors
$gist-blob-num: #ffffff4d;
$gist-blob-num-hover: #ffffff8e;
$gist-variables: #c9d1d9;
$gist-background: #151c29;
$gist-specialChars: #c9d1d9;
$gist-commentary: #8b949e;
$gist-number: #79c0ff;
$gist-function:  #d2a8ff;
$gist-existingFunction: #ffa657;
$gist-functionDeclaration: #ff9a9a;

// Transitions
$t-slow: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
$t-superslow: all 1s cubic-bezier(0.33, 1, 0.68, 1);
$t-fast: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
$t-superfast: all 0.1s cubic-bezier(0.33, 1, 0.68, 1);
$t-tfast: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
$t-tslow: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);

// border-radius
$round: 1000px;
$rounded: 10px;
$rounded2: 30px;

// borders
$border-light: 1px solid $black01;

// shadows
$shadow: 0px 0px 25px -10px #00000038;  
$light-shadow: 0px 0px 25px -15px #00000038;

// layout
$menu-height: 4rem;
$header-height: 2.5rem;
$section-height: calc(100vh - #{$header-height});

$topOfAll: 2000;
$front: 1000;
$content: 500;
$background: -100;

// Gist background shapes
$codeShapeBig: 20rem;
$codeShapeMedium: 12rem;
$codeShapeLittle: 4rem;

// INPUT RANGE
$input-track: #ebebeb;
$input-thumb-size: 1.3rem;
$input-thumb-border: none;
$input-thumb-color: $grey-text;
$input-width: 102%;